[2016-02-16 13:38] smbasha47 opened #2 "django 1.9 comparable"
Please update your URL's to django 1.9 comparable

# -*- coding: utf-8 -*-

from django.conf.urls import  url
from . import views

urlpatterns = [
    url(r'^off/$', views.maintenance_mode_off, name='maintenance_mode_off'),
    url(r'^on/$', views.maintenance_mode_on, name='maintenance_mode_on'),
]

[2016-06-21 11:34] ryselis opened #3 "Allow passing context to 503 view"
Currently we cannot pass any context to the view rendered by the middleware as it is set to {}. It would be nice to have a way to pass my own parameters to it, e.g., planned update finish time

[2016-06-21 13:05] fabiocaccamo commented on #3
@ryselis nice idea. I will add it as soon as possible.

[2016-06-21 13:19] fabiocaccamo commented on #3
@ryselis how do you expect to pass context data to the 503 view?

[2016-06-21 13:40] ryselis commented on #3
I have 2 ideas.
1. Abstract out template rendering into its own method. Instead of calling `render_to_response` directly in middleware's `process_request`, add a new method to `MaintanenceModeMiddleware` that does the rendering. If I want to do it differently, I override your middleware class and rewrite just this one method that renders the template.
2. Make some kind of hook that would let me sp

[2016-06-21 13:42] ryselis commented on #3
[This is my current workaround](http://pastebin.com/xfXXdpae)

[2016-06-21 13:56] fabiocaccamo commented on #3
@ryselis the solution 1 is the one that I imagined, anyway the solution 2 could be a good alternative, I will add support for both solutions. Thanks

[2016-06-22 12:47] fabiocaccamo commented on #3
@ryselis in any case it's always possible to specify a custom template and load some template tags from it.

[2016-06-22 12:52] ryselis commented on #3
@fabiocaccamo yes, this is a possibility, but it is not an intuitive solution, at least for me

[2016-06-22 14:32] fabiocaccamo commented on #2
Updated with 0.3.2 release, thanks.

[2016-06-22 14:32] #2 closed

[2016-06-22 14:33] fabiocaccamo commented on #3
@ryselis just released `0.3.2` version.

[2016-06-22 14:37] #3 closed

[2016-06-23 04:27] smbasha47 commented on #2
still i am getting following deprecated warning

d:\python27\lib\site-packages\maintenance_mode\urls.py:10: RemovedInDjango110Warning: django.conf.urls.patterns() is deprecated and will be removed i
  url(r'^on/$', views.maintenance_mode_on, name='maintenance_mode_on'),

i guess we should use below syntax for Django 1.10

urlpatterns = [
url(r'^off/$', views.maintenance_mode_off, name='maintenance

[2016-06-23 08:50] fabiocaccamo commented on #2
@smbasha47 I don't think that the new url patterns structure is backward-compatible. thanks for the warning report.

[2016-08-18 08:40] andytzeng opened #5 "NoReverseMatch exception if maintenance_mode.urls was not added to urlpatterns"
Based on the readme, maintenance_mode.urls can be ignored if won't superusers are able to set maintenance_mode using urls. However, the exception throw as below:
[code]

Check the middleware.py
[code]
the invoking `revere` should be embraced in try-except block. Could you please double check the logic? Thanks.

[2016-08-18 10:56] fabiocaccamo commented on #5
Fixed and released 0.3.4 version on pypi.
Thanks for the report.

[2016-08-18 10:57] andytzeng commented on #5
Thank you :)

[2016-08-21 17:52] haidaraM opened #7 "django.conf.urls.patterns() is deprecated and will be removed in Django 1.10"
I had this warning when I installed the package.

You can simply use a list of django.conf.urls.url() instances in `urls.py:
[code]

Full waring message : `RemovedInDjango110Warning: django.conf.urls.patterns() is deprecated and will be removed in Django 1.10. Update your urlpatterns to be a list of django.conf.urls.url() instances instead.
  url(r'^on/$', views.maintenance_mode_on, name='maintena

[2016-08-24 01:48] andytzeng commented on #5
One thing I found: NoReverseMatch was not imported at line 3

Probably, add NoReverseMatch to line 3 as below:
[code]

Thank you.

[2016-08-24 17:28] fabiocaccamo commented on #7
Could you make a PR?

[2016-08-24 17:45] fabiocaccamo commented on #5
Sorry for the missing import, fixed and released 0.3.5 version on pypi.
Thanks again.

[2016-08-24 17:45] #5 closed

[2016-08-30 09:08] fabiocaccamo commented on #7
Fixed with 0.4.0 version

[2016-08-30 09:08] #7 closed

[2016-08-30 20:30] haidaraM commented on #7
ok great

[2016-09-01 12:28] haidaraM opened #8 "Pass maintenance mode to all views"
I'm wondering if you plan to implement a way to know that if maintenance mode is on or off in all views. This can be implemented by using context processor https://docs.djangoproject.com/en/1.10/ref/templates/api/.

It can be useful if we want to add some buttons to enable/disable the maintenance mode on web pages.

[2016-09-01 12:44] fabiocaccamo commented on #8
Frankly that's not planned, feel free to send me a PR.

Anyway actually you can do it by using the core API https://github.com/fabiocaccamo/django-maintenance-mode#python

[2016-09-01 12:52] haidaraM commented on #8
Yes you are right but you have to modify all your views if I understodd well. With a context processor it's just one function and maybe some others modifications.

I will send a PR and you can check...

[2016-09-10 17:25] fabiocaccamo commented on #8
Fixed with 0.4.1 version

[2016-09-10 17:25] #8 closed

[2016-09-28 03:41] mlissner opened #11 "Add no cache headers to response"
Django has a decorator called `never_cache` that ensures that requests are, umm, never cached. Caching is complicated, but I think this library should use this functionality to ensure that the maintenance mode is not cached. This way, when maintenance mode is disabled, the site will return quickly.

I just rewrote the middleware for my own project, and [you can see how I implemented this there][1]

[2016-09-28 08:20] fabiocaccamo commented on #11
This is a good report, I will implement it as soon as possible.
Do you think that `add_never_cache_headers` should be added to the `HttpResponseRedirect` response too?
Do you know from which django version has been introduced `add_never_cache_headers`?

[2016-09-28 16:56] mlissner commented on #11
I honestly don't know if temporary redirects ever get cached. My guess would be they don't, since we have permanent redirects which do, but I don't know.

Alas, I have no idea! I'm not even sure that it's a public method, actually. I found it while looking at the `never_cache` decorator, since the decorator couldn't be applied to a middleware. It's small though...you could implement it locally if

[2016-10-03 14:01] fabiocaccamo commented on #11
Fixed with 0.4.2 version

[2016-10-03 14:01] #11 closed

[2016-10-06 17:29] ckesselh opened #12 "No longer compatible with Django <1.8 since release 0.3.3"
Seems the status parameter [got added to the render_to_response method in Django 1.8](http://stackoverflow.com/questions/33212565/render-to-string-got-an-unexpected-keyword-argument-status), so the README.md of django-maintenance-mode will need to be updated.

On Django 1.7, I currently get
[code]

[2016-10-07 08:51] #12 closed

[2016-10-07 08:53] fabiocaccamo commented on #12
Fixed with `0.3.4`. Thanks

[2016-10-07 09:15] ckesselh commented on #12
I suppose you meant so say "Fixed with 0.4.3". Thanks, mate!

[2016-10-07 10:01] fabiocaccamo commented on #12
Yes, sorry :)

[2016-10-07 19:34] haidaraM opened #13 "Default context is missing in templates when maintenance mode is on in Django 1.9"
I can't access some variables in context in templates when maintenance mode is on. For example the variables `request`and `maintenance_mode` are not available and I think some others variables also. I have to add them by myself by using `MAINTENANCE_MODE_TEMPLATE_CONTEXT`.

I think the problem is with this commit 4c2a6e5a6df62852c0cfcd3951e2013fc90b2713 when you added django 1.10 compatibility. I

[2016-10-10 08:55] #13 closed

[2016-10-10 08:58] fabiocaccamo commented on #13
@haidaraM just released `0.4.4` where I use render instead of render_to_response if django version >= 1.8.

[2016-10-31 07:18] ryselis opened #14 "MAINTENANCE_MODE_STATE_FILE_PATH could be configurable"
currently MAINTENANCE_MODE_STATE_FILE_PATH points to directory of __file__ which on some setups is not writable and django-maintenance-mode is not usable on those setups. I think this option could be configurable via settings, just like the other settings of django-maintenance-mode.

[2016-11-02 10:38] fabiocaccamo commented on #14
I will add it as soon as possible.

[2016-11-03 09:26] fabiocaccamo commented on #14
`MAINTENANCE_MODE_STATE_FILE_PATH` is now configurable with `0.4.5` version.

[2016-11-03 09:26] #14 closed

[2016-11-28 15:56] mick88 opened #15 "Running tests with maintenance mode on"
**Issue:** I found that running tests while maintenance mode was on failed a lot of tests because all views responded with 503.

**Expected behaviour:** I would expect that global maintenance mode does not affect test environment and tests run in isolation.

**Example use case:** Running tests in production to check whether it is deployed correctly before opening the site to public use.

**Suggest

[2016-11-29 19:04] fission6 opened #16 "1.10 MIDDLEWARE Compliant"
this should inherit

from maintenance_mode.middleware import MaintenanceModeMiddleware

https://docs.djangoproject.com/en/1.10/topics/http/middleware/#upgrading-pre-django-1-10-style-middleware

[2016-12-23 02:25] flooreeda opened #17 "Python 3"
Are there plans to make this compatible with Python 3?

[2016-12-23 09:02] fabiocaccamo commented on #17
@flooreeda it's not planned yet, feel free to send a PR.

[2017-01-25 13:03] fraf1 commented on #17
For info, I'm using this tool since September 2016 with Python 3 only (Python 3.5.1 and Django 1.9, Python 3.5.3 and Django 1.10). No problems found so far, apart from the command line usage with Django 1.10.5 for which I've done a pull request.

[2017-01-25 13:16] fabiocaccamo commented on #17
@fraf1 thanks for your feedback. I will check your PR as soon as possible.

[2017-01-25 13:57] fraf1 commented on #17
Grazie!

Inviato da iPhone

[2017-01-26 10:02] fabiocaccamo commented on #15
@mick88 could you try this solution in the middleware?
http://stackoverflow.com/questions/4088253/django-how-to-detect-test-environment/7651002#7651002

[2017-02-10 22:25] connexion2000 commented on #16
Agreed, changing this line fixed error for me. Fabio could you also change it in repo?

[2017-02-13 09:26] fabiocaccamo commented on #16
I just pushed the fix on master, could you check it?
If it's ok I will release a new version n pypi.

[2017-02-13 14:57] connexion2000 commented on #16
Yes, now it works.

13.02.2017 10:26 AM "Fabio Caccamo" <notifications@github.com> napisał(a):

[2017-02-13 15:15] #16 closed

[2017-02-27 13:52] fabiocaccamo commented on #15
Added support to `settings.MAINTENANCE_MODE_IGNORE_TEST` with `0.5.0` version.

[2017-02-27 13:52] #15 closed

[2017-03-01 23:37] george-silva opened #19 "change breaks compatibility and broke my tests"
Hi! Very nice project.

You made a recent change that broke my tests. For some reasons, they were not failing before, and MAINTENANCE_MODE was False.

Now, while testing, the MAINTENANCE_MODE is False and it picks up an IOError along the line, which makes the test fail.

This is most likely happening here: https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/io.py#L

[2017-03-02 12:14] fabiocaccamo commented on #19
@george-silva thanks for the report, I just relased 0.5.1 and it should be fixed.
I added tests too. Let me know.

[2017-03-02 12:15] #17 closed

[2017-03-02 12:15] fabiocaccamo commented on #17
@flooreeda it is compatible with Python 3.

[2017-03-02 13:08] george-silva commented on #19
@fabiocaccamo let me try.

[2017-03-08 23:45] flooreeda commented on #17
@fabiocaccamo & @fraf1, thanks! Works like a charm 👍

[2017-03-09 09:17] fabiocaccamo commented on #19
@george-silva have you tested 0.5.1 version? Is it ok?

[2017-03-13 12:09] george-silva commented on #19
Looks ok @fabiocaccamo . I haven't had the chance to test it, because I forked the repo when I found the bug, since I was needing it badly for an app in production.

We will have an update today or tomorrow and I'll let you know.

Thanks

[2017-03-20 09:06] #19 closed

[2017-03-31 17:49] tuxredux opened #21 "IGNORE_URLS setting not working"
I ran `pip install django-maintenance-mode`

Added `'maintenance_mode',` to `settings.INSTALLED_APPS`

And `'maintenance_mode.middleware.MaintenanceModeMiddleware',` to `settings.MIDDLEWARE`

Along with these settings to `settings.py`:

[code]
But there is no redirect to a 503 error page. `DEBUG = True` and I'm running the server locally

**EDIT:** If I remove the `MAINTENANCE_MODE_IGNORE_URLS` se

[2017-03-31 19:17] tuxredux commented on #21
I am not a smart man... I forgot the `,` at the end of `MAINTENANCE_MODE_IGNORE_URLS`, so it wasn't a tuple.

[2017-03-31 19:17] #21 closed

[2017-04-20 13:32] Thulebona opened #22 "MAINTENANCE_MODE_GET_TEMPLATE_CONTEXT"
they is an error on the doc naming convection
on the doc its says  `MAINTENANCE_MODE_GET_TEMPLATE_CONTEXT` but on the settings its getting `MAINTENANCE_MODE_TEMPLATE_CONTEXT`

`MAINTENANCE_MODE_GET_TEMPLATE_CONTEXT = getattr(settings, 'MAINTENANCE_MODE_TEMPLATE_CONTEXT', None)`

[2017-04-20 13:37] fabiocaccamo commented on #22
Thanks for the report, I will fix it today.

[2017-04-20 13:42] #22 closed

[2017-07-21 08:23] ziima opened #23 "Add a view decorator"
For a complex applications, such as we have, the split of views available and unavailable during the maintenance can be non-trivial. Decorator which marks views turned off during the maintenance would allow fine-tuning of the application maintenance.

[2017-07-24 08:55] fabiocaccamo commented on #23
This is a very useful feature. Thanks for the suggestion, I will work on it as soon as possible.

[2017-07-24 12:44] ziima commented on #23
If you don't persist on writing it yourself, I should be able to find time to do it next week.

[2017-07-24 12:51] fabiocaccamo commented on #23
If you can write it with tests it would be great.

By default all views are affected by maintenance-mode when active, so my idea is to add a single decorator named `ignore_maintenance_mode`.

[2017-07-24 13:07] ziima commented on #23
That's only true if middleware is turned on. Some of our use cases requires only few views to be turned on, while most of the application is not affected by the middleware. My original idea was to add possitive decorator.

But I see you case, so I suggest to add both decorators - force and ignore, similarly to CSRF in Django itself.

[2017-07-24 13:40] fabiocaccamo commented on #23
So you need to have some views under a forced maintenance-mode also if the maintenance-mode is not set to True, is it correct?

[2017-07-24 14:02] ziima commented on #23
Nope, we need only a few views to be subject of the maintenance mode, while most of them is not affected. Thus we want to decorate those view and avoid usage of the middleware.

[2017-07-24 14:14] fabiocaccamo commented on #23
I think we are saying the same thing...

[2017-08-02 08:48] ziima opened #25 "Use static code analysis tools"
To keep code clean, it's better to add `isort`, `flake8`, `pydocstyle` or similar tools to CI.

[2017-08-02 13:44] ziima opened #26 "Allow override_settings in tests"
Use `django-appsettings` or similar approach to enable `override_settings` to be used in tests.

[2017-08-02 14:11] ziima opened #27 "import_function duplicates django.utils.module_loading.import_string"
There's a function in Django that does almost exactly the same thing.

[2017-08-03 15:27] fabiocaccamo commented on #26
Why don't use the [django decorator](https://docs.djangoproject.com/en/1.11/_modules/django/test/utils/#override_settings)?

[2017-08-03 15:42] ziima commented on #26
I'd like to, but without changing the [settings file](../blob/master/maintenance_mode/settings.py) it won't work. The `settings` module is loaded sometime during the tests and all maintenance mode related settings got interpreted at that point and fixed. Any further call of `override_settings` will not affect the settings module and thus will have no effect on the code.

[2017-08-28 09:04] #27 closed

[2017-09-05 23:07] sshum00 opened #30 "Is it possible to have this not redirect?"
Effectively I just need something that would let me know whether the site's under maintenance or not and allow my base.html to display a toast message. So I really only want to use `{% if maintenance_mode %}`. Is it currently possible to change its behavior to not redirect to a maintenance page?

[2017-09-14 13:57] ziima opened #31 "maintenance_mode command should print confirmation if verbose"
If verbosity is high, e.g. 2-3, the command should print confirmation message. It's just nice behaviour.

[2017-09-18 13:56] ziima opened #32 "Default state file location"
By documentation, the default location of the state file is next to the `settings.py`, which I interpret as the used `DJANGO_SETTINGS_MODULE` file. Instead it is created in `maintenance_mode` directory, which may be in `/usr/share`, `/usr/lib/` or other unexpected locations.

[2017-10-02 09:20] fabiocaccamo commented on #32
@ziima I'm sorry, I will fix the documentation.

[2017-10-13 08:11] ziima commented on #32
I don't think that's the correct solution. The `maintenance_mode` directory may be installed in system, and user running the Django application may not have permissions to create the state file. This causes the maintenance mode to be silently ignored.

IMHO the better solution would be to use at least the directory with Django settings as documentation stated.

[2017-10-13 08:38] fabiocaccamo commented on #32
Do you how to know the directory with Django settings?
I think that a good alternative could be to use `settings.BASE_DIR`

[2017-10-13 09:07] ziima commented on #32
`BASE_DIR` is not a documented setting, it's only a common variable in settings. Looks like settings have `SETTINGS_MODULE` attribute defined (but possibly None). Another option is to use `DJANGO_SETTINGS_MODULE` environment variable directly, import the module and get its path.

[2017-10-13 09:16] fabiocaccamo commented on #30
@sshum00 to do this you need to remove `maintenance_mode.middleware.MaintenanceModeMiddleware` from `settings.MIDDLEWARE_CLASSES`, then in your view retrieve the maintenance_mode state:
[code]
and pass the `maintenance_mode_state` variable to your template.

I will add templatetags to do this.

[2017-10-13 09:45] #30 closed

[2017-10-16 13:37] fabiocaccamo commented on #32
Since `SETTINGS_MODULE` could be None it is not a good idea, `DJANGO_SETTINGS_MODULE` is not an absolute path, but a relative path to the settings module using the dot syntax: `mysite.settings`

[2017-10-17 12:01] ziima commented on #32
`DJANGO_SETTINGS_MODULE` can be used the same way Django uses it.

[2017-10-17 14:05] fabiocaccamo commented on #32
How to convert `mysite.settings` to an absolute path?

[2017-10-27 12:23] ziima commented on #32
```import_module(os.environ['DJANGO_SETTINGS_MODULE']).__file__```

[2017-10-27 12:31] fabiocaccamo commented on #32
Thanks

[2017-11-01 13:27] ziima opened #35 "Don't silence errors when the state file can't be created"
If the state file can't be created, the `maintenance_mode` command shouldn't ignore this fact silently, as it does now. It may result in problems which are hard to detect.

Similar issue probably occurs in maintenance view.

[2017-12-04 15:29] fabiocaccamo opened #37 "Django 2.0 compatibility"
TODO

[2017-12-14 18:30] alexdlaird commented on #26
Yes, can we please get support for this? The way settings are being loaded for this submodule means they are not dynamic—they are read on init and then set permanently (in maintenance_mode/settings.py), regardless of what the parent Django app ends up doing with them.

Overriding in a test case doesn't work for that reason, no matter how you do it, because this project references it's own settings

[2017-12-14 18:51] alexdlaird commented on #26
I've forked the repo and will see if I can find some time to resolve this issue. For now, here's how I've worked around the issue, if others run into the same problem and are lost:

https://github.com/HeliumEdu/platform/blob/b27a20a51e5ee84f5215cebfabad27b85a5ca8e1/helium/common/tests/testcaseerrorviews.py#L71

[2017-12-14 19:18] ziima commented on #26
Using something like https://github.com/Genida/django-appsettings should fix problem.

[2017-12-14 19:26] alexdlaird commented on #26
@ziima While that would work, it seems a bit overkill—I'm assuming @fabiocaccamo doesn't want to incur additional dependencies for this submodule just to make this work, and I don't think we should need to.

[2017-12-14 19:35] alexdlaird commented on #26
This seems the easiest approach: https://docs.djangoproject.com/en/1.11/topics/settings/#custom-default-settings

[2017-12-14 21:05] alexdlaird commented on #26
PR tested  and submitted.

[2017-12-14 21:18] ziima commented on #26
@alexdlaird `settings.configure` is not meant for application settings, but as an alternative to `DJANGO_SETTINGS_MODULE`.

The common approach is to create some sort of custom settings class, e.g. https://github.com/encode/django-rest-framework/blob/master/rest_framework/settings.py#L191-L247, but it's kind of waste to create one in every Django third party application. That's why I suggested to

[2017-12-15 11:27] fabiocaccamo commented on #26
@alexdlaird thanks for the PR, I merged it and released a `0.6.7` version and a `0.7.0` version (which includes django 2.0 compatibility).

[2017-12-15 11:27] #26 closed

[2017-12-15 11:28] fabiocaccamo commented on #37
Available since `0.7.0` version.

[2017-12-15 11:28] #37 closed

[2018-02-21 10:29] fabiocaccamo commented on #31
With `0.7.3` version you can use `python manage.py maintenance_mode on --verbosity 3`

[2018-02-21 10:29] #31 closed

[2018-02-21 10:38] ziima commented on #31
Nice. Thanks.

[2018-03-19 15:13] fabiocaccamo commented on #35
Fixed in `0.8.0`

[2018-03-19 15:13] #35 closed

[2018-03-27 15:23] fabiocaccamo commented on #23
I think that the best approach would be:
[code]
Have you any reason to prefere a view decorator?

[2018-03-27 19:58] ziima commented on #23
1. I can't imagine this to work for class based views.
2. The list could be really long. In such case, the decorator would be much easier to maintain.

[2018-03-29 10:12] fabiocaccamo commented on #23
Released `0.9.0`
Now you can use `force_maintenance_mode_on` and `force_maintenance_mode_off` [decorators](https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/README.md#views).

[2018-03-29 10:12] #23 closed

[2018-04-04 11:26] ziima opened #40 "Add changelog"
As the project continues, a changelog is needed to publish which changes happened in which version.

[2018-04-04 12:53] ziima opened #41 "All tox environments fail on coverage"
When I run tox, all environments fail with an error `Can't combine arc data with line data`.

It's using `coverage==4.5.1`, which seems to be the source of the error.

[2018-04-04 13:06] ziima opened #43 "Verbose turn on interactive mode"
Verbosity in level 3 makes the `maintenance_mode` command behave interactively, which is not expected. The `interactive` option should be separate.

[2018-04-04 13:14] ziima commented on #41
Fix by deleting `.coverage`. Tox should use parellel mode instead of `--append` though.

[2018-04-04 13:14] #41 closed

[2018-05-13 09:42] djch opened #44 "Exception in django-ipware integration"
Hello. Awesome work with this plugin. Very straight-forward and very useful. Was especially happy to see you can integrate it with **django-ipware**.

Unfortunately, though, I can't get that part to work. No matter what I set `MAINTENANCE_MODE_IGNORE_IP_ADDRESSES` to be, I receive the following exception:

[code]

And here are my settings:
[code]

[2018-05-13 09:45] djch commented on #44
I'm not a super-pro python programmer, but my guess is this integration was written before django-ipware 2.0.

That being said, if I use `MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS = 'ipware.ip.get_ip'` I do still receive the same error.

[2018-05-13 11:51] fabiocaccamo commented on #44
@djch I'm glad you like this lib.
Which versions of python/django are you using?
I've not tested the latest version of ipware, what data type returns the `get_client_ip` method?

You could set `MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS` to a your method that wraps the ipware call, so you can debug it easily.

Let me know and i will fix it.
Thanks

[2018-05-18 08:32] fabiocaccamo commented on #44
@djch any update?

[2018-05-18 08:38] djch commented on #44
Sorry Fabio, it's been a crazy week. It's Django 2.0.5, Python 3.5.3 and django-ipware 2.1.0.

I don't have the tracebacks in front of me right now but, IIRC, `ipware.ip2.get_client_ip` was returning `None`, which is probably the problem.

I don't think I'll have a chance to review further until next week, sorry.

[2018-05-18 09:10] fabiocaccamo commented on #44
Ok, don't worry!

[2018-05-23 12:06] ziima opened #45 "Drop support for old Django versions"
Some of the versions are not supported for quite some time. I think it's time to dump those, as support for old Django versions requires extra time which may be used elsewhere.

[2018-05-29 20:37] fabiocaccamo commented on #45
I agree, I will drop django 1.7 support soon.

[2018-06-19 15:15] jordmantheman opened #48 "Control maintenance mode via DB"
(feature request)

Using a text file on the host doesn't work for django installations that distribute requests across multiple hosts. It seems like more of a detriment of the library to avoid using tables for this control than a benefit. Are the maintainers philosophically against this, or was it just a more expensive implementation than the sentinel file approach?

[2018-06-20 08:35] fabiocaccamo commented on #48
@jordmantheman I know this limit, I thinks there could be 2 different ways to do this:

- Implement a small model/admin internally to the lib.

- Expose 2 new settings: `MAINTENANCE_MODE_STATE_GETTER` and `MAINTENANCE_MODE_STATE_SETTER` where it is possibile to define custom functions that implements the db read/write logic. This approach is the more flexible one.

[2018-09-11 16:50] bparker06 opened #50 "Maintenance mode cannot be turned off"
If I comment out `MAINTENANCE_MODE = True`, I get this exception:

[code]

Not sure why it's trying to write to some file in the root of the filesystem. If I add `MAINTENANCE_MODE_STATE_FILE_PATH = '/tmp/maintenance_mode_state.txt'`, this works as a temporary workaround.

[2018-09-12 10:13] fabiocaccamo commented on #50
@bparker06 if you don't specify `MAINTENANCE_MODE_STATE_FILE_PATH`, [its default value](https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/settings.py#L48) will be a `maintenance_mode_state.txt` file located in the same folder of your `settings.py` file.

Actually the code is well tested, could you write a test case to reproduce the error? Thanks

[2018-09-12 14:06] bparker06 commented on #50
Don't know anything about test cases, but I think there might be a chroot somewhere which would explain the app folder's absolute path starting with a `/`. So in this case I think it is just due to the app folder not being writable by the webserver user.

[2018-09-13 08:40] fabiocaccamo commented on #50
I suggest you to read [this](https://docs.djangoproject.com/en/2.1/topics/testing/) :)
Yes, it could be related to permissions, but you should receive a `IOError`.
Could you list all the steps to follow to reproduce the error?

[2018-09-27 08:13] #50 closed

[2018-10-08 08:04] OndrejIT opened #51 "Bad default content type (charset)"
Hello i found this problem:
![image](https://user-images.githubusercontent.com/11267809/46597225-8ef8fc00-cadf-11e8-9885-31c05294a05a.png)

problem is [here](https://github.com/fabiocaccamo/django-maintenance-mode/blob/3883d94c1f98b5f90565c22040556d27a6d97dcb/maintenance_mode/http.py#L53) content_type='text/html'
![image](https://user-images.githubusercontent.com/11267809/46597231-95877380-cadf-11

[2018-10-08 10:31] #51 closed

[2018-10-09 08:33] fabiocaccamo commented on #51
Released in `0.11.0` version with `python 3.7` and `django 2.1` support.

[2018-11-13 12:48] spapas commented on #48
One extra thing to consider is to allow the users to use redis (if it is present for cache) instead of the database; querying redis for a true/false value is faster than querying the database.

The MAINTENANCE_MODE_STATE_GETTER you propose could probably be used for that (requiring the user to actually write the put/get code in the database) but I believe that it would be better to actually provid

[2018-11-13 16:11] #45 closed

[2018-11-13 16:16] fabiocaccamo commented on #44
@djch this problem seems to be related to `django-ipware`, you should open an issue [here](https://github.com/un33k/django-ipware).

[2018-11-13 16:16] #44 closed

[2018-11-16 19:04] jordmantheman commented on #48
Sorry for the delay!

Having configurable setters/getters is probably best. Agree w/ @spapas that a couple of baked in implementations could be useful. Perhaps an implementation using django-cache (assuming an in-memory store isn't used) would be a useful abstraction for someone using redis.

[2018-12-03 17:51] fabiocaccamo commented on #48
Added pluggable backends support in `0.12.0` version, enjoy :).

[2018-12-04 09:20] fabiocaccamo commented on #48
Just implement your custom backend extending `AbstractStateBackend`:

[code]

Then in `settipgs.py` set your custom backend class path:
[code]

[2018-12-04 09:20] #48 closed

[2018-12-20 11:29] andrewpwade opened #53 "Configurable HTTP status code"
I'm running an application on AWS Elastic Beanstalk which monitors the health of requests. HTTP 5xx is treated as an error by the monitoring processes and this doesn't seem configurable.

One solution is to make maintenance mode return 200. I have a patch that adds a `MAINTENANCE_MODE_STATUS_CODE` setting with a default 503.

Would you accept a PR with this patch as it might be useful for others?

[2018-12-20 12:32] fabiocaccamo commented on #53
Hi Andrew,
sure!

[2018-12-20 12:51] ngse commented on #53
Also a feature I'm looking for (same use-case: AWS EB deployment). Thanks for the patch @andrewpwade - looks like that will do what I need.

[2018-12-20 15:33] #53 closed

[2018-12-21 10:53] fabiocaccamo commented on #53
Feature released with `0.13.0` version.

[2019-02-27 12:33] Hoshitter1 opened #55 "MAINTENANCE_MODE_IGNORE_IP_ADDRESSES does not work."
How does "else:
                client_ip_address = get_client_ip_address_func(request)_" (1st one)   work?

[code]

[2019-02-27 14:39] fabiocaccamo commented on #55
There is no underscore: https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/http.py#L174

[2019-02-27 14:53] Hoshitter1 commented on #55
Apart from this, Ive tried to use MAINTENANCE_MODE_IGNORE_IP_ADDRESSES in several ways but none of them worked even though other options worked properly. Just for the record I've put
 this MAINTENANCE_MODE_IGNORE_IP_ADDRESSES = ("my_ip_here") by referring to http://www.myglobalip.com/ this website.  Is there any common errors with this function? Thank you!

[2019-02-27 16:17] fabiocaccamo commented on #55
@Hoshitter1 what is the value of `MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS`?

This is default function to retrieve client ip address:
https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/utils.py

For a more advanced usage you should consider to use `django-ipware` as suggested in the README.
https://github.com/un33k/django-ipware

Could you write a view that outputs

[2019-02-28 02:35] Hoshitter1 commented on #55
Thank you for your reply!

1. client_ip = get_client_ip_address(request)
client_ip  returns nothing

2. client_ip, is_routable = get_client_ip(request)
client_ip returns my ip address as also seen in
http://www.myglobalip.com/
is_routable  returns True

[2019-02-28 09:19] fabiocaccamo commented on #55
@Hoshitter1 could you try also with this function:
https://stackoverflow.com/questions/4581789/how-do-i-get-user-ip-address-in-django

[2019-02-28 09:42] fabiocaccamo commented on #55
@Hoshitter1 as you can read, there is not a perfect solution.

I will suggest in the README to use `django-ipware`, I could do it by default but I prefere to keep thi lib dependency free.

Any suggestion is appreciated.

[2019-03-02 03:44] Hoshitter1 commented on #55
@fabiocaccamo I installed ipware and wrote MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS = 'ipware.ip.get_ip' right before MAINTENANCE_MODE_IGNORE_IP_ADDRESSES in settings.py as you suggested and it worked! Thank you for your support:)

[2019-03-02 21:33] #55 closed

[2019-03-06 23:26] WrapTheCode opened #56 "Ignore urls"
Hi

I want be able to use in 503.html template a images from static directory.

I use in settings.py:

`MAINTENANCE_MODE_IGNORE_URLS = (r'^/static/images/$',)`

but it doesnt work. I need help...

Thanks

[2019-03-07 16:05] fabiocaccamo commented on #56
You don't need to add static and media urls to `MAINTENANCE_MODE_IGNORE_URLS`.

Your regexp ends with `$`, so it ignores only the path you specified and not everything under that path.

[2019-03-07 21:17] WrapTheCode commented on #56
If i dont add MAINTENANCE_MODE_IGNORE_URLS to setting.py,  images from static dont load aswell...

[2019-03-07 21:25] WrapTheCode commented on #56
I forgot to add that it is saleor aplication.
Website is unable to reach even i have a superuser privileges.

[2019-03-08 09:35] fabiocaccamo commented on #56
@WrapTheCode I can't reproduce the error, could you write a test case which fails please?

[2019-03-08 19:20] WrapTheCode commented on #56
Just install https://github.com/mirumee/saleor
and https://github.com/fabiocaccamo/django-maintenance-mode.

[2019-03-11 10:15] fabiocaccamo commented on #56
@WrapTheCode adding `MAINTENANCE_MODE_IGNORE_URLS = (r'^/static/images/',)` (without the trailing `$`) works fine?

[2019-03-27 17:16] fabiocaccamo commented on #56
@WrapTheCode any update?

[2019-04-30 16:05] afurze opened #57 "Update Installation Instructions"
Please update the installation instructions to include: "Add 'maintenance_mode.context_processors.maintenance_mode' to context_processors".  I didn't do this and it prevented the maintenance_mode template tag from working.

[2019-04-30 16:38] fabiocaccamo commented on #57
@afurze https://github.com/fabiocaccamo/django-maintenance-mode#context-processors

[2019-04-30 16:45] #57 closed

[2019-04-30 16:46] #56 closed

[2019-04-30 17:28] afurze commented on #57
Thanks for tolerating my idiocy :)

[2019-04-30 19:45] fabiocaccamo commented on #57
No problem

[2019-05-15 20:23] marksweb opened #59 "'Settings' object has no attribute 'MAINTENANCE_MODE'"
I've got a system in `MAINTENANCE_MODE` to perform a change to the database server. It's an RDS instance on AWS and I've changed it's type.

While the instance was being modified I was seeing the 503 response at first, but then that became `'Settings' object has no attribute 'MAINTENANCE_MODE'`.

Given the fact the app sets the default value to `None` django clearly wasn't running quite right whil

[2019-05-16 08:04] fabiocaccamo commented on #59
@marksweb Have you run tests against your change? I don't think it will pass tests.
Could you send a PR with a failing test case to evidence your issue?

In any case, if the app will default to a value, it will default to `False` for backward compatibility.

[2019-05-16 08:43] marksweb commented on #59
This isn't related to my branch, this is in `0.13.1` on the check for `if settings.MAINTENANCE_MODE` so also irrespective of any choice of backend instead of using settings.

[2019-07-01 16:01] epicserve opened #60 "Version 0.13.2 isn't installing currently"
When trying to install 0.13.2, I'm getting the following:

[code]

[2019-07-01 16:42] fabiocaccamo commented on #60
@epicserve I just tried to install the latest version and I confirm the error. :(
I tried to re-upload the file but I receive this error: `HTTPError: 400 Client Error: File already exists.`
I checked on pypi, the release has been uploaded, but only the wheel.
I just released `0.13.3` version, it should be ok.

[2019-07-01 16:42] #60 closed

[2019-07-01 20:26] epicserve commented on #60
@fabiocaccamo, thank you for the quick fix. It seems to be working now with version 0.13.3.

[2019-08-23 10:49] jibusayone opened #63 "FileNotFoundError on MAINTENANCE_MODE_STATE_FILE_PATH"
When I don't specify `MAINTENANCE_MODE_STATE_FILE_PATH` in `settings.py` and try to turn off maintenance mode, it results in:
```FileNotFoundError: [Errno 2] No such file or directory: '/project/settings/maintenance_mode_state.txt'```

In the docs, it's said that:
By default, a file named `maintenance_mode_state.txt` will be created in the `maintenance_mode` directory, and that we can customize th

[2019-08-29 15:57] fabiocaccamo commented on #63
@jibusayone I will just fix the documentation.
The best location for the state file is next to the default settings file, this has been discussed here: #32
If you need something different just specify a custom location or consider also the possibility to use a custom backend.

[2019-08-29 15:57] #63 closed

[2019-08-29 16:01] fabiocaccamo commented on #59
Could you send a PR with a failing test case please?

[2019-11-12 10:24] #59 closed

[2019-11-24 17:50] stanim opened #64 "Add time window"
The business want to be able to specify a time window (start time and end time) in which the website turns automatically the website on and off. What would be the best method? Maybe a new setting which defines a function which is called in `need_maintenance_response`?
Would you accept a pull request for this?

[2019-11-24 18:14] fabiocaccamo commented on #64
@stanim I have this feature in mind since long time, but actually I have not time to implement it, so I share with you my idea in case you want to send a PR:

[code]

I would add support to a new setting like this one, what do you think about it?

[2019-11-24 19:29] stanim commented on #64
The problem is that the business needs to be able to configure this from a webview. So Django settings are no solution, as settings are supposed to be immutable. Would it be possible to store the settings in the maintenance lock file?

[2019-11-24 21:44] fabiocaccamo commented on #64
I understand your needs, but it seems a specific case. The maintenance state file is not for this, you should write a custom state backend that return values based on the configuration done in the webview.
Check `MAINTENANCE_MODE_STATE_BACKEND` setting in the README.

[2019-12-03 14:21] fabiocaccamo commented on #40
Added: https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/CHANGELOG.md

[2019-12-03 14:21] #40 closed

[2019-12-05 09:24] jujumilk3 opened #65 "If there some custom processor is using django request, it returns an error."
My application is using django's request in context processor. but if i get into maintenance mode then error occurs.

The error follows 'NoneType' object has no attribute 'kwargs'.
it means i refer request's kwargs in context processor but if i turn on the maintenance mode, it can't find request. i solve this problem with 'if' sentence but it has to improve i think.

thanks for reading and this pr

[2019-12-05 09:39] fabiocaccamo commented on #65
@jujumilk3 I think that this error could be related to the order or context processors in settings, could you paste here your context processors settings and your view?

[2019-12-05 10:06] jujumilk3 commented on #65
My python version is 3.7 and django is 2.2.6.
And view is almost a thousand lines so it's meaningless and this is production app so i can't upload, but i cant upload a part of it.

my context processor form was like
[code]
It occurs an error.

AttributeError: 'NoneType' object has no attribute 'kwargs'

is the error content. i resolved this like

[code]

And as u said, i was thought about context

[2019-12-05 10:42] fabiocaccamo commented on #65
I understand, which `django-maintenance-mode` version are you using?

[2019-12-05 11:43] jujumilk3 commented on #65
It's django-maintenance-mode==0.14.0

[2019-12-05 11:45] fabiocaccamo commented on #65
Could you send a PR with a test case for this?

[2019-12-05 11:47] fabiocaccamo commented on #65
Could you try to move `myapp.context_processor.context_processor` before `maintenance_mode.context_processors.maintenance_mode` in  context processors?

[2019-12-05 12:00] jujumilk3 commented on #65
Same symptom again.
Can i ask what PR is?

[2019-12-05 12:00] jujumilk3 commented on #65
ah! that means pull request i got it.

[2019-12-05 13:39] jujumilk3 commented on #65
i made a repository for this issue.
https://github.com/jujumilk3/django-maintenance-mode-debug
check this out. sorry i don't know how to test with only django package. i just made simplest django app. every code need to check is in dir: maintenance_debug.

first. if maintenance mode is off, there's nothing problem. get in home and go to the test.html. there is message from context processor's requ

[2019-12-05 13:44] fabiocaccamo commented on #65
It's very simple, I will improve testing documentation.
Thank you for the info, I will test and fix it as soon as possible.

[2019-12-05 15:01] fabiocaccamo commented on #65
I added testing step by step instructions to README: https://github.com/fabiocaccamo/django-maintenance-mode#testing

[2019-12-06 02:47] jujumilk3 commented on #65
omg thank you very much. because i couldn't find anywhere how to test separate django package.

[2020-01-23 16:37] scwall opened #66 "Add banner for informate user hours and date of the maintenance"
Hello, I integrated a maintenance signalling system for a project, quickly.  I thought it would be a good idea to have this system in django-maintenance-mode. Which allows you to signal users of maintenance hours. I am in the process of following up for an email sending with the scheduled maintenance to all users of the company.
**(i'm use django solo : https://github.com/lazybird/django-solo for

[2020-01-24 09:30] fabiocaccamo commented on #66
Hi @scwall,
thank you for this suggestion.
Maintenance-mode schedule is already in the 'todo' of this library.

Frankly my idea was to add support to it using a simple setting:
[code]

Now, looking at your suggestion, I understand the flexibility to manage maintenance schedule using the admin and also the necessity to send an email to users to warn them about the incoming maintenance (which needs

[2020-01-24 10:56] scwall commented on #66
Ok I understand, maybe adding an external yarml file for the hours, for don't modify settings file . Personally I will have to use a db, because I use docker (with dj cookie cutter) for the deployment of my projects. If I change the settings I will have to rebuild my image and redeploy it just to publish the time. For the use of a recurring stain: https://pypi.org/project/django-crontab/ is quite

[2020-03-07 18:43] fabiocaccamo commented on #25
@ziima could you submit a PR?

[2020-03-07 18:44] fabiocaccamo commented on #65
@jujumilk3 any update? Have you solved it?

[2020-06-30 12:31] Butonix opened #67 "Reason and Service Timeline"
Hey.
Tell me, do you have such an opportunity to enable and disable the mode from the admin panel? And add a description + time to it

[2020-07-01 10:33] fabiocaccamo commented on #67
@Butonix thank you for the suggestion. This topic has already been discussed here #48
It is a nice feature, but I would prefer to keep it db/models free. Btw it is very easy to write a custom backend, check issue #48 for more details.

[2020-07-01 14:55] #67 closed

[2020-07-02 07:04] ramsondon opened #68 "Redirect on /maintenance-mode/on"
The` /maintenance-mode/on` and` /maintenance-mode/off` urls should redirect back to the referring page instead of redirecting back to the main page in super admin.

[2020-07-02 10:36] fabiocaccamo commented on #68
@ramsondon could you make me some example?
We can't be sure that the referrer is a page of the current site.

[2020-07-20 08:10] #65 closed

[2020-08-04 16:37] #25 closed

[2020-08-04 16:37] fabiocaccamo commented on #68
@ramsondon any feedback?

[2020-10-16 16:39] davidgomezcol opened #70 "Way to add subnets on ip addresses to ignore"
**Python version**
3.8

**Django version**
1.11

**Package version**
0.14.0

**Current behavior (bug description)**
Is there a way to add the subnets to the ip addresses to ignore when maintenance mode is active?

to something like this? because i tried this way and it's not working for me:

MAINTENANCE_MODE_IGNORE_URLS = ('192.168.0.0/32',)

**Expected behavior**
192.168.0.0/32

[2020-10-17 13:19] fabiocaccamo commented on #70
@davidgomezcol as documentation says:

So you just need to "prepare" your url for regex usage:
[code]

[2020-10-17 13:19] #70 closed

[2020-10-17 16:02] davidgomezcol commented on #70
Great! thank you very much! didn't mean to put this as a bug, but github didn't give me another option. Thank you for you quick reply..

[2020-10-17 17:44] fabiocaccamo commented on #70
Don't worry!

[2020-10-21 19:11] davidgomezcol commented on #70
Hello!.. I'm adding my ip addresses like this.. but it doesn't seem to work.. i'm still having 503's after this.. an there's a bunch of them.. i'm just sharing you a little.. there's about of 200 ip addresses that i need to add there..

MAINTENANCE_MODE_IGNORE_IP_ADDRESSES = ( '31\.186\.232\.0\/24', '34\.90\.192\.162', '37\.230\.97\.9', '63\.251\.76\.0\/25',)

[2020-10-21 21:58] fabiocaccamo commented on #70
Sorry, but there is some confusion here:

- `MAINTENANCE_MODE_IGNORE_URLS` check a match in the url path, excluding the domain name.
- `MAINTENANCE_MODE_IGNORE_IP_ADDRESSES` check a match in the client ip returned by `MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS` (see the README).

So, in your case you should add ip-addresses to `MAINTENANCE_MODE_IGNORE_IP_ADDRESSES` (without escaping them) and write yo

[2020-10-21 22:11] davidgomezcol commented on #70
I'm using django-ipware to get the user ip address.. the problem is that i have is with this kind of ip addresses 23.64.0.0/14 that could be a bunch of them, so if django-ipware grabs the ip address for example 23.67.255.255 that would be in the list of ip address from 23.64.0.0/14. I thought that probably this could have an internal function that handles that kind of situation, where can be a add

[2020-10-21 22:20] fabiocaccamo commented on #70
You should write your own function wrapping ipware.

[2020-11-13 20:39] HT-Moh opened #71 "state file content value is not 0|1"
This issue caused by empty line at the end of the file maintance_mode_state.txt which can be added by pre-commit hooks or the IDE

[code]
Solution add strip `strip()`
[code]

[2020-11-13 20:51] fabiocaccamo commented on #71
@HT-Moh thank you for reporting this.

[2020-11-21 15:52] fabiocaccamo commented on #71
@HT-Moh you can install `0.15.1` version.

[2020-11-21 15:52] #71 closed

[2020-12-08 17:36] ChrisCrossCrash opened #72 "Disable emailing 503 errors to admins while maintenance mode is enabled"
**Python version**
3.8

**Django version**
3.1.4

**Package version**
0.15.1

I think it would be nice to have a setting like this:
[code]
By default, [Django sends emails to site admins for HTTP errors >= 500](https://docs.djangoproject.com/en/3.1/howto/error-reporting/#server-errors). It would be nice if this could be turned off while maintenance mode is on, since these errors would be expected

[2020-12-09 11:30] fabiocaccamo commented on #72
@ChrisCrossCrash thank you for suggesting this.
Have you any idea about how to achieve this in a transparent way?

[2020-12-09 16:45] ChrisCrossCrash commented on #72
@fabiocaccamo I've looked into overriding the default logging settings just to avoid this happening in my app, but I haven't been able to figure it out yet. Also, I'm not sure how to make it a setting for Maintenance Mode as I've described above.

If it's not feasible to implement a setting like this, perhaps it would be helpful to users if there were a section in README.md describing how to modif

[2020-12-09 16:53] fabiocaccamo commented on #72
@ChrisCrossCrash if you come to a solution using the logging system I will update the README section.

[2020-12-10 07:13] 9mido opened #73 "Banner for all templates to warn users when maintenance will be"
It would be awesome if there was a way to create something like this:
https://github-images.s3.amazonaws.com/enterprise/2.19/assets/images/enterprise/maintenance/maintenance-scheduled.png

to warn users ahead of time when maintenance mode will be scheduled.

It would be nice to have a custom warning message and make the message css customizable like where it should be on your website like below th

[2020-12-24 10:45] ChrisCrossCrash commented on #72
I've found a solution that works for me, but how to implement it depends on how logging is set up for a particular project.

In my case, I was just using Django's default logging configuration.

Start by disabling the default logging configuration and enabling a custom configuration ([further details in Django docs][1]). Don't worry, we'll copy the defaults in the next step. In my project, the dir

[2020-12-24 10:55] fabiocaccamo commented on #72
@ChrisCrossCrash thank you for this solution.
Just a question: why you check both `settings.MAINTENANCE_MODE` and `status_code`?

I think that we could:
- Include the logging filter inside this library
- Document in the `README` the possibility to customize the logging

[2020-12-24 11:20] ChrisCrossCrash commented on #72
Thanks @fabiocaccamo, I think those are good ideas. Adding the filter to the library would provide a solution while still giving users flexibility depending on their logging setup.

To answer your question, I only wanted to ignore 503 emails when maintenance mode is on. I still wanted 503 emails if maintenance mode was turned off. Also, I didn't want to ignore other (non-503) 'ERROR' level notific

[2020-12-30 21:12] fabiocaccamo commented on #73
@9mido I close this issue because it is not in my intentions to add any kind of banner to this package, it is possible and very easy to check the maintenance mode state using the context processor and implement a custom banner if needed.

[2020-12-30 21:12] #73 closed

[2021-01-07 10:06] fabiocaccamo commented on #68
I close this issue due to inactivity.

[2021-01-07 10:06] #68 closed

[2021-01-07 10:12] fabiocaccamo commented on #66
I close this issue because it is very similar to another one, everything related to maintenance mode schedule will be discussed in #64.

[2021-01-07 10:12] #66 closed

[2021-01-07 10:13] fabiocaccamo commented on #64
@stanim check #64 if you are interested to implement a quick schedule system using the backend/database.

[2021-03-01 13:17] tustunkok opened #74 "404 Not Found Error When SCRIPT_NAME Defined"
**Python version**
3.8

**Django version**
3.1

**Package version**
0.15.1

**Current behavior (bug description)**
When tried to enable the maintenance mode with a defined SCRIPT_NAME variable (under uWSGI), the app goes into the maintenance mode. However, returns 404 errors for every possible route including the maintenance-mode/off/ route. Thus, effectively prevents disabling the maintenance mod

[2021-03-01 13:54] fabiocaccamo commented on #74
@tustunkok URLs are reversed using `django.urls.reverse`, if the reverse mechanism doesn't include the `SCRIPT_NAME` prefix it seems to be more a django bug.

Maybe the best solution would be to add `SCRIPT_NAME` prefix to your urls:
[code]

[2021-03-01 14:03] tustunkok commented on #74
@fabiocaccamo Thank you for your quick response. I tested your suggestion. Now, the error string turned into `The current path, pclink-test/pclink-test/maintenance-mode/off/, didn't match any of these.`. So, I believe that django actually takes care of the subdirectory name.

Also, maybe it is good to mention that SCRIPT_NAME is not a settings variable. It is coming from NGINX server and defined a

[2021-03-01 14:06] fabiocaccamo commented on #74
@tustunkok I understand, I'm sorry. If you come up with a solution feel free to submit a PR.

[2021-03-01 14:07] tustunkok commented on #74
@fabiocaccamo OK, thank you for your time. I am investigating the problem.

[2021-03-01 14:07] fabiocaccamo commented on #74
@tustunkok If you want try to find a solution I think you should put your hands [here](https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/http.py#L100).

[2021-03-01 16:03] tustunkok commented on #74
@fabiocaccamo I believe PR #75 should resolve the issue.

[2021-03-01 23:19] fabiocaccamo commented on #74
@tustunkok please check the `FORCE_SCRIPT_NAME` django setting: https://docs.djangoproject.com/en/3.0/ref/settings/#force-script-name

[2021-03-19 22:17] fallen opened #76 "FileNotFoundError with default settings"
**Python version**
3.6.9

**Django version**
2.2.19

**Package version**
0.15.1

**Current behavior (bug description)**
My `DJANGO_SETTINGS_MODULE` is set to `"pytition.settings.maconfig"`
I let all django maintenance mode settings be default
I get a `FileNotFoundError at /` exception directly on my home page.
By using `Debug=True` I can see the values of the settings, the following one is incorre

[2021-03-23 09:06] #76 closed

[2021-03-23 10:46] fabiocaccamo commented on #72
@ChrisCrossCrash you can upgrade to `0.16.0` version and use the library [logger](https://github.com/fabiocaccamo/django-maintenance-mode#logging).

[2021-03-28 16:26] ChrisCrossCrash commented on #72
@fabiocaccamo That's great! Thanks

[2021-05-14 13:45] fabiocaccamo commented on #74
@tustunkok any update on this?

[2021-05-15 14:35] fallen commented on #76
Thanks for merging my PR and releasing a new 0.16.0 version :)
:+1: :partying_face:

[2021-05-15 17:15] tustunkok commented on #74
Hi, @fabiocaccamo . Yeah, actually I am using the solution that I suggested before in one of my applications. Unfortunately, I did not have time for providing any useful test case for the solution though.

[2021-08-04 12:34] Samoht1 opened #80 "IGNORE_IP not working"
**Python version**
3.8.2

**Django version**
3.1.1

**Package version**
latest

**Current behavior (bug description)**
When I put my IP in the ignored variable, other PC's can still open the site without seeing the 503 template

**Expected behavior**
Only me accessing the site bypassing the 503 while others get the template

[2021-08-15 16:58] madatbay opened #81 "CommandError: Unable to write state file at: maintenance_mode_state.txt"
**Python version**
3.8.10

**Django version**
3.2.4

**Package version**
0.16.0

**Current behavior (bug description)**
In production turning maintenance mode via URL or `manage.py` returns error
[code]

**Expected behavior**
Should toggle maintenance mode

[2021-08-15 22:37] fabiocaccamo commented on #81
It is an IOError, please ensure that you have the permission to write the state file at that path.

[2021-08-15 22:37] #81 closed

[2021-08-19 05:35] aliceni81 commented on #72
settings.MAINTENANCE_MODE is static and cannot be changed when run "maintenance_mode <on|off>". So if I run the command or by other methods to change the maintenance mode, the error email still will be sent to admin. Will this filter be improved in the future?

[2021-08-19 08:01] fabiocaccamo commented on #72
@aliceni81 thank you for reporting this, it should be enough to use `core.get_maintenance_mode()`, it automatically check the state from both, settings and backend.

[2021-08-26 13:17] wjstarrsiii opened #82 "Working fine on dev box but not functioning on test box with virtual directory"
Hello, this package has been very useful for my use case.  It is working very well on my development box to redirect all but a whitelisted set of urls.  When I deploy to my testing environment, the mode_state.txt file is created, has proper permissions, etc, but absolutely no urls are redirected when it is on.

The only difference between my dev box and testing are that on the dev box the root url

[2021-08-27 07:26] #82 closed, assigned to fabiocaccamo

[2021-08-28 17:06] fabiocaccamo commented on #82
I never used it, frankly I always use a subdomain in these cases. Thank you for the feedback!

[2021-09-14 16:18] adremides commented on #48
Can please provide an example how to implmenent db way to switch maintenance mode on/off with a custom backend?

[2021-09-14 16:27] fabiocaccamo commented on #48
@adremides you just need to:
- create your own backend [extending the abstract backend](https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/backends.py#L34)
- override the `get_value` and `set_value` methods (to get and set the state value as you need)
- set your backend as the default one using [settings](https://github.com/fabiocaccamo/django-maintenance-mode#set

[2021-09-14 17:10] adremides commented on #48
I have trouble figuring it out how to do that. How do I override those methods to write the value state to a field in the database?

[2021-09-14 17:17] fabiocaccamo commented on #48
@adremides you can see existing backends to understand how to override a method.
Concerning how to read/write a model field value the django documentation is very good:
- https://docs.djangoproject.com/en/3.2/ref/models/instances/
- https://docs.djangoproject.com/en/3.2/ref/models/fields/#booleanfield

[2021-09-24 07:19] fabiocaccamo commented on #72
@aliceni81 you can upgrade to `0.16.1`.

[2021-09-24 07:19] #72 closed

[2021-09-24 08:13] aliceni commented on #72
Thx!

[2021-09-24 12:21] fabiocaccamo commented on #80
@Samoht1 the setting `MAINTENANCE_MODE_IGNORE_IP_ADDRESSES` passes all the tests, do you set **maintenance mode** to `True` somehow?

Could you provide more informations, an example or a failing test, please? Otherwise I will close this issue.

[2021-09-27 10:23] Samoht1 commented on #80
yes, via command line. I can also actually maintenance_mode_state.txt change to 1

[2021-09-27 10:25] fabiocaccamo commented on #80
@Samoht1 are you sure that other PC are not under the same router and the public IP is the same for all?

[2021-09-27 11:04] Samoht1 commented on #80
well sh*t.. they are... is it possible to use this feature with mac addresses?

[2021-09-27 11:34] fabiocaccamo commented on #80
@Samoht1 frankly I don't know, this feature relies on [django-ipware](https://github.com/un33k/django-ipware), so you should check inside its documentation what is possible to do.

[2021-09-27 11:34] #80 closed

[2021-09-27 11:35] Samoht1 commented on #80
ah right, sorry I just assumed you made that feature too. I'll check it out, thanks!

[2021-10-06 12:41] oluwakay-dev opened #83 "force_maintenance_mode_off doesn't work for AJAX requests"
**Python version**
3.9
?

**Django version**
3.2.6
?

**Package version**
0.16.1
?

**Current behavior (bug description)**
View returns 503 even when decorated with force_maintenance_mode_off when an AJAX request is sent
?

**Expected behavior**
Views decorated with force_maintenance_mode_off should be callable via AJAX requests.
?

[2021-10-06 14:50] #83 closed

[2021-11-29 14:47] Arussil opened #84 "Problem with ipware version"
**Python version**
3.8.5

**Django version**
2.2.24

**Package version**
0.16.1

**Current behavior (bug description)**
Setting MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS = 'ipware.ip.get_ip' as stated in the documentation result in a 500 error: settings.MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS is not a valid function path. if ipware version is > 2.1

**Expected behavior**
Documentation should specify l

[2021-11-29 15:00] fabiocaccamo commented on #84
@Arussil the purpose of the example in the documentation is to show that it is possible define a custom function path for the `MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS`.

I see now that the latest `ipware` version return a tuple, you can simply create your own adapter and config `MAINTENANCE_MODE_GET_CLIENT_IP_ADDRESS` to point to it instead of directly to the `ipware` module.

I hope to have been h

[2021-11-29 15:00] #84 closed

[2022-01-27 23:19] fabiocaccamo commented on #74
@tustunkok since this issue is stale and it seems more a problem of django than of this package, I close this issue.

[2022-01-27 23:19] #74 closed

[2022-02-08 20:10] debdolph opened #85 "Unable to use with s3 storage"
[code]

[2022-02-08 20:12] fabiocaccamo commented on #85
This is not a problem of the package.

[2022-02-08 20:12] #85 closed

[2022-04-17 21:07] Natureshadow commented on #85
It actually is.

Well, not this package alone, but this package could use the storage in a way compatible with S3 boto.

[2022-04-18 12:08] fabiocaccamo commented on #85
@Natureshadow thanks for explaining the problem well and for the PR too.

[2022-04-19 08:42] fabiocaccamo commented on #85
@debdolph @Natureshadow you can upgrade to `0.16.3` version.

[2022-11-08 12:35] paduszyk opened #95 "Add maintenance mode toggler in the admin site"
The app is great! 😀 You do a great job for Django users!

However, a nice feature would to have admin toggler turning the 503 mode on and off. Something like [this](https://postimg.cc/xJfCG55C).

I know it's quite simple to implement, for instance by adding a view as follows:

[code]

the corresponding URL path, a overriden `admin/base.html` template:

[code]

I did this in my project and had to a

[2022-11-08 12:54] paduszyk opened #96 "MAINTENANCE_MODE_STATE_FILE_PATH setting bug"
**Python version**
3.10

**Django version**
4.1

**Package version**
0.16.3.

**Current behavior (bug description)**
When `MAINTENANCE_MODE_STATE_FILE_PATH` is defined using `pathlib.Path` (as suggested by the default Django settings file), e.g.:

[code]

`AttributeError` is raised with message with message _'PosixPath' object has no attribute 'decode'_.

**Expected behavior**
It would be nice to

[2022-11-08 13:19] fabiocaccamo commented on #96
@paduszyk nice catch, thank you!

[2022-11-08 13:27] fabiocaccamo commented on #95
@paduszyk thank you, I'm glad you enjoy this app!

It's possible to write a [custom backend](https://github.com/fabiocaccamo/django-maintenance-mode/blob/master/maintenance_mode/backends.py) that uses a django model for reading/writing the state to the database and then having the relative model-admin for allow admins changing the state from the backend.

Anyway, your solution is independent by th

[2022-11-22 12:37] fabiocaccamo commented on #96
@paduszyk you can upgrade to `0.17.0` version.

[2022-11-22 12:37] #96 closed